.article {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.article .div {
  background-color: #f9f9f9;
  overflow: hidden;
  width: 100%;
  height: 222.3125rem; /* 3557px */
  position: relative;
}

.article .cards {
  display: flex;
  width: 68.0625rem; /* 1089px */
  height: 25.125rem; /* 402px */
  align-items: flex-start;
  gap: var(--variable-collection-spacing-SM);
  position: absolute;
  top: 173.625rem; /* 2778px */
  left: 16.8125rem; /* 269px */
}

.article .card {
  display: flex;
  flex-direction: column;
  width: 25.25rem; /* 404px */
  height: 27.125rem; /* 434px */
  align-items: flex-start;
  gap: 1.5rem; /* 24px */
  position: relative;
  margin-bottom: -2rem; /* -32px */
  border: 0;
}

.article .image {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 0.5rem; /* 8px */
  background-size: cover;
  background-position: 50% 50%;
}

.article .copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem; /* 4px */
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.article .text-wrapper,
.article .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -0.0625rem; /* -1px */
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000; /* or #828282 for .text-wrapper-2 */
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.article .image-2,
.article .image-3 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 0.5rem; /* 8px */
  background-size: cover;
  background-position: 50% 50%;
}

.article .card-2 {
  margin-right: -11.6875rem; /* -187px */
  display: flex;
  flex-direction: column;
  width: 25.25rem; /* 404px */
  height: 27.125rem; /* 434px */
  align-items: flex-start;
  gap: 1.5rem; /* 24px */
  position: relative;
  margin-bottom: -2rem; /* -32px */
}

.article .text-wrapper-3 {
  position: absolute;
  width: 31.3125rem; /* 501px */
  top: 169.125rem; /* 2706px */
  left: 16.8125rem; /* 269px */
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: #000000;
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  white-space: nowrap;
  font-style: var(--heading-font-style);
}

.article .navigation-footer {
  height: 6.25rem; /* 100px */
  z-index: 100;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}

.article .items {
  display: flex;
  flex-direction: column;
  width: 11.6875rem; /* 187px */
  align-items: flex-end;
  justify-content: center;
  gap: var(
    --variable-collection-spacing-s
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  position: absolute;
  top: 3rem; /* 48px */
  left: 46rem; /* 736px */
}

.article .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -0.0625rem; /* -1px */
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 1rem; /* 16px */
  letter-spacing: 0;
  line-height: 1.5rem; /* 24px */
}

.article .text-wrapper-5 {
  align-self: stretch;
  color: #444444;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  position: relative;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
}

.article .items-2 {
  display: flex;
  flex-direction: column;
  width: 11.6875rem; /* 187px */
  align-items: flex-end;
  justify-content: center;
  gap: var(
    --variable-collection-spacing-s
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  position: absolute;
  top: 3rem; /* 48px */
  left: 59.6875rem; /* 955px */
}

.article .items-3 {
  display: flex;
  flex-direction: column;
  width: 11.6875rem; /* 187px */
  align-items: flex-end;
  justify-content: center;
  gap: var(
    --variable-collection-spacing-s
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  position: absolute;
  top: 3rem; /* 48px */
  left: 73.3125rem; /* 1173px */
}

.article .text-wrapper-6 {
  position: absolute;
  height: 2.25rem; /* 36px */
  top: 3.6875rem; /* 59px */
  left: 10rem; /* 160px */
  font-family: var(
    --subheading-font-family
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  font-weight: var(
    --subheading-font-weight
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  color: #000000;
  font-size: var(
    --subheading-font-size
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  letter-spacing: var(
    --subheading-letter-spacing
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  line-height: var(
    --subheading-line-height
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  white-space: nowrap;
  font-style: var(
    --subheading-font-style
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
}

.article .social-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: var(
    --variable-collection-spacing-XS
  ); /* 이 부분은 사용자 정의 변수이므로 변환하지 않음 */
  position: absolute;
  top: 11rem; /* 176px */
  left: 5rem; /* 80px */
}

.article .buttons-icon {
  position: relative;
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 0.25rem; /* 4px */
}

.article .icon {
  position: relative;
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  top: 0.5rem; /* 8px */
  left: 0.5rem; /* 8px */
}

.article .img {
  position: absolute;
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  top: 0.125rem; /* 2px */
  left: 0.125rem; /* 2px */
}

.article .icon-2 {
  position: absolute;
  width: 1.125rem; /* 18px */
  height: 1.125rem; /* 18px */
  top: 0.1875rem; /* 3px */
  left: 0.1875rem; /* 3px */
}

.article .icon-3 {
  position: absolute;
  width: 1.25rem; /* 20px */
  height: 0.875rem; /* 14px */
  top: 0.3125rem; /* 5px */
  left: 0.125rem; /* 2px */
}

.article .divider {
  position: absolute;
  width: 80rem; /* 1280px */
  height: 0.0625rem; /* 1px */
  top: 0;
  left: 5rem; /* 80px */
  object-fit: cover;
}

.article .element-profile-avatar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem; /* 8px */
  position: absolute;
  top: 2rem; /* 32px */
  left: 1.875rem; /* 30px */
}

.article .graphic {
  position: relative;
  width: 6.25rem; /* 100px */
  height: 6.25rem; /* 100px */
  border-radius: 3rem; /* 48px */
  background-size: cover;
  background-position: 50% 50%;
}

.article .navigation-header {
  height: 6.25rem; /* 100px */
  top: 0;
  left: -0.0625rem; /* -1px */
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
}

.article .items-4 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 1.875rem; /* 30px */
  left: 66.6875rem; /* 1067px */
}

.article .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.875rem 1.5rem;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.9375rem #0000001a,
    0rem 0.25rem 0.375rem -0.25rem #0000001a;
}

.article .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  white-space: nowrap;
}

.article .text-wrapper-9 {
  position: absolute;
  height: 6rem;
  top: 1.875rem;
  left: 9rem;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 3.125rem;
  letter-spacing: 0;
  line-height: 3.125rem;
  white-space: nowrap;
}

.article .graphic-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: absolute;
  top: 0.0625rem;
  left: 1.625rem;
  bottom: 0.0625rem;
}

.article .graphic-2 {
  border-radius: 0.625rem;
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  background-position: 50% 50%;
}

.article .sidebar {
  position: fixed;
  background-color: #ffffff;
  width: 16rem;
  height: 100%;
  top: 6.25rem;
  left: 0rem;
  border-right-width: 0.0625rem;
  border-right-style: solid;
  border-color: #e0e0e0;
}

.article .list {
  display: flex;
  flex-direction: column;
  width: 15rem;
  align-items: flex-start;
  position: absolute;
  top: 4.875rem;
  left: 0.5rem;
}

.article .menu-item {
  display: flex;
  height: 2.5rem;
  align-items: center;
  gap: 1rem;
  padding: 0.1875rem;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.article .img-2 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.article .text-wrapper-10 {
  position: relative;
  flex: 1;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(
    --small-text-font-size
  ); /* 이 속성은 변수이므로 변환하지 않았습니다. */
  letter-spacing: var(
    --small-text-letter-spacing
  ); /* 이 속성은 변수이므로 변환하지 않았습니다. */
  line-height: var(
    --small-text-line-height
  ); /* 이 속성은 변수이므로 변환하지 않았습니다. */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(
    --small-text-font-style
  ); /* 이 속성은 변수이므로 변환하지 않았습니다. */
}

.article .text-wrapper-11 {
  position: absolute;
  height: 1.875rem; /* 30px */
  top: 1.4375rem; /* 23px */
  left: 1.5rem; /* 24px */
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 1.25rem; /* 20px */
  letter-spacing: -0.0125rem; /* -0.2px */
  line-height: 1.875rem; /* 30px */
  white-space: nowrap;
}

.article .overlap {
  position: absolute;
  width: 70.6875rem; /* 1131px */
  height: 46.375rem; /* 742px */
  top: 34.1875rem; /* 547px */
  left: 17.75rem; /* 284px */
}

.article .text-wrapper-12 {
  position: absolute;
  width: 15rem; /* 240px */
  height: 4.3125rem; /* 69px */
  top: 43.125rem; /* 690px */
  left: 28.875rem; /* 462px */
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.article .frame {
  border: 0.1875rem solid #f0f0f0; /* 3px */
  position: absolute;
  width: 87.1875rem; /* 1395px */
  height: 42.125rem; /* 674px */
  top: 0;
  left: 0;
}

.article .element-pricing-card {
  display: flex;
  flex-direction: column;
  width: 28.125rem; /* 450px */
  height: 22rem; /* 352px */
  align-items: flex-start;
  gap: var(--variable-collection-spacing-SM);
  padding: var(--variable-collection-spacing-m);
  position: absolute;
  top: 82.0625rem; /* 1313px */
  left: 17.75rem; /* 284px */
  background-color: #ffffff;
  border-radius: 0.75rem; /* 12px */
  overflow: hidden;
  box-shadow: 0px 0px 0.9375rem #0000001a,
    0px 0.25rem 0.375rem -0.25rem #0000001a;
}

.article .element-pricing-card2 {
  display: flex;
  flex-direction: column;
  width: 28.125rem; /* 450px */
  height: 22rem; /* 352px */
  align-items: flex-start;
  gap: var(--variable-collection-spacing-SM);
  padding: var(--variable-collection-spacing-m);
  position: absolute;
  top: 82.0625rem; /* 1313px */
  left: 53.125rem; /* 850px */
  background-color: #ffffff;
  border-radius: 0.75rem; /* 12px */
  overflow: hidden;
  box-shadow: 0px 0px 0.9375rem #0000001a,
    0px 0.25rem 0.375rem -0.25rem #0000001a;
}

.article .header {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.75rem; /* 12px */
  position: relative;
  flex: 0 0 auto;
  background-color: transparent;
}

.article .price {
  display: inline-flex;
  align-items: flex-end;
  gap: 0.5rem; /* 8px */
  position: relative;
  flex: 0 0 auto;
}

.article .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem; /* -1px to rem */
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: #000000;
  font-size: var(
    --heading-font-size
  ); /* Assumes this is already in a relative unit */
  letter-spacing: var(
    --heading-letter-spacing
  ); /* Assumes this is already in a relative unit */
  line-height: var(
    --heading-line-height
  ); /* Assumes this is already in a relative unit */
  white-space: nowrap;
  font-style: var(--heading-font-style);
}

.article .feature-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.75rem; /* 12px to rem */
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.article .p {
  position: relative;
  align-self: stretch;
  margin-top: -0.0625rem; /* -1px to rem */
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #828282;
  font-size: var(
    --body-text-font-size
  ); /* Assumes this is already in a relative unit */
  letter-spacing: var(
    --body-text-letter-spacing
  ); /* Assumes this is already in a relative unit */
  line-height: var(
    --body-text-line-height
  ); /* Assumes this is already in a relative unit */
  font-style: var(--body-text-font-style);
}

.article .group {
  left: 17.8125rem; /* 285px to rem */
  position: absolute;
  width: 20.4375rem; /* 327px to rem */
  height: 19.125rem; /* 306px to rem */
  top: 5.3125rem; /* 85px to rem */
}

.article .overlap-group {
  position: relative;
  width: 20.75rem; /* 332px to rem */
  height: 19.625rem; /* 314px to rem */
  left: -0.0625rem; /* -1px to rem */
}

.article .element-button-secondary {
  display: flex;
  width: 22.0625rem; /* 353px to rem */
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* 8px to rem */
  padding: 0.875rem 1.5rem; /* 14px 24px to rem */
  position: absolute;
  top: 1.875rem; /* 30px to rem */
  left: 0.0625rem; /* 1px to rem */
  background-color: #0096ce;
  border-radius: 0.5rem; /* 8px to rem */
  box-shadow: var(
    --button-shadow
  ); /* Assumes this is already in a relative unit */
}
.article .element-button-secondary3 {
  display: flex;
  width: 84.375rem; /* 1350px to rem */
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* 8px to rem */
  padding: 0.875rem 1.5rem; /* 14px 24px to rem */
  position: absolute;
  top: 31.125rem; /* 498px to rem */
  left: 17.8125rem; /* 285px to rem */
  background-color: #0096ce;
  border-radius: 0.5rem; /* 8px to rem */
  box-shadow: var(
    --button-shadow
  ); /* Assumes this is already in a relative unit */
}

.article .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  white-space: nowrap;
}

.article .img-3 {
  position: absolute;
  width: 25rem;
  height: 16.5rem;
  top: 5rem;
  left: 0;
  box-shadow: 0px 0px 15px #0000001a, 0px 4px 6px -4px #0000001a;
}

.article .overlap-wrapper {
  left: 49.0625rem;
  position: absolute;
  width: 20.4375rem;
  height: 19.125rem;
  top: 5.3125rem;
}

.article .overlap-wrapper2 {
  left: 80.3125rem;
  position: absolute;
  width: 20.4375rem;
  height: 19.125rem;
  top: 5.3125rem;
}

.article .image-4 {
  position: absolute;
  width: 28.4375rem;
  height: 19.8125rem;
  top: 81.8125rem;
  left: 60.5625rem;
  object-fit: cover;
}

.article .view {
  position: absolute;
  width: 70.4375rem;
  height: 30.1875rem;
  top: 106.875rem;
  left: 17.75rem;
}

.article .view-2 {
  position: relative;
  top: 6.25rem;
  height: 30.1875rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px #00000040;
}

.article .div-wrapper {
  position: absolute;
  width: 70.375rem;
  height: 4.375rem;
  top: -0.0625rem;
  left: 0.0625rem;
  background-color: #e6a1a1;
}

.article .text-wrapper-15 {
  position: absolute;
  height: 3rem;
  top: 0.625rem;
  left: 1.3125rem;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 3rem;
  white-space: nowrap;
}

.article .chart {
  position: absolute;
  width: 22.5rem;
  height: 22.5rem;
  top: 5.9375rem;
  left: 0.9375rem;
}

.article .chart2 {
  position: absolute;
  width: 22.5rem;
  height: 22.5rem;
  top: 5.9375rem;
  left: 23.75rem;
}

.article .chart3 {
  position: absolute;
  width: 22.5rem;
  height: 22.5rem;
  top: 5.9375rem;
  left: 46.5625rem;
}

.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 300px;
  height: 150px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.wrap * {
  padding: 0;
  margin: 0;
}
.wrap .info {
  width: 300px;
  height: 130px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.wrap .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.info .title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.info .close:hover {
  cursor: pointer;
}
.info .body {
  position: relative;
  overflow: hidden;
}
.info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 70px;
}
.desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}
.info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 8px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info .link {
  color: #5085bb;
}
