@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap");
/* 초기화 */
* {
  margin: 0; /*모든 요소의 외부 여백을 0으로 설정 */
  padding: 0; /*모든 요소의 내부 여백을 0으로 설정 */
  box-sizing: border-box; /*요소의 너비와 높이를 계산할 때 패딩과 테두리를 포함하도록 */
}
a,
a:link,
a:visited {
  text-decoration: none; /* */
  color: inherit; /* 부모한테 상속받음 , 링크의 색상을 부모 요소의 색상과 동일하게 설정*/
}
li {
  list-style: none; /* 목록 항목의 불릿(bullet) 또는 번호를 제거 */
  font-weight: 500;
}
.container {
  width: 1140px; /*너비를 1140px로 설정 */
  margin: 0 auto; /*상하 마진은 0, 좌우 마진은 자동으로 설정하여 가운데 정렬 효과 */
}

/* 타이틀 CSS 시작 */
section {
  font-family: "Poppins", sans-serif; /*글꼴을 'Poppins'으로 설정, 불가시 산세리프체를 사용 */
  padding: 5rem 0; /*내부 패딩을 설정합니다. 각 값은 위아래, 좌우 순서 */
  width: 100vw; /* 너비를 뷰포트 너비의 100%로 설정 */
  height: 100vh; /* 높이를 뷰포트 높이의 100%로 설정 */
  display: flex; /* Flexbox 레이아웃을 사용하여 내용을 중앙에 배치 */
  justify-content: center; /* 가로 방향에서 내용을 중앙에 배치 */
  align-items: center; /* 세로 방향에서 내용을 중앙에 배치 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}
section .title {
  margin-bottom: 3rem; /*아래쪽 마진을 설정*/
}
section .title h4 {
  font-size: 1.5rem; /*글자 크기를 설정 */
  color: #0096ce; /*글자 색을 설정 */
}
section .title h2 {
  font-size: 3.5rem; /*글자 크기를 설정 */
}
/* 타이틀 CSS 끝 */
/* header css 시작 */
header {
  position: fixed; /*위치를 고정합니다. 스크롤해도 원래 위치에 고정 */
  z-index: 0;
  top: 0; /*상단에 고정 */
  width: 100%; /*너비를 부모 요소의 100%로 설정 */
  color: black; /*자 색을 흰색으로 설정 */
  padding: 1rem; /*내부 패딩을 설정 */
  background-color: #fff;
}
header .container {
  width: 100%; /*비를 부모 요소의 100%로 설정 */
  display: flex; /*Flexbox 레이아웃을 사용 */
  justify-content: space-between; /*Flexbox의 아이템들 사이에 공간을 고르게 분배 */
}
header nav ul {
  display: flex; /*Flexbox 레이아웃을 사용*/
}
header nav li {
  padding: 10px; /*내부 패딩을 설정 */
}
header h1 a {
  font-size: 2rem; /*글자 크기를 설정 */
}
header nav ul li a {
  font-size: 1.3rem; /*글자 크기를 설정 */
}
/* header css 끝 */
/* home css 시작 */
section .container .home-self {
  display: flex; /*Flexbox 레이아웃을 사용 */
  justify-content: space-between; /*Flexbox 레이아웃을 사용 */
}
section .container .home-self .left {
  width: 50%; /*너비를 부모 요소의 50%로 설정 */
}
section .container .home-self .left img {
  max-width: 100%; /*이미지의 최대 너비를 부모 요소의 너비로 제한 */
}
section .container .home-self .right {
  width: 50%; /*너비를 부모 요소의 50%로 설정 */
  padding: 0 2rem; /*내부 패딩을 설정합니다. 각 값은 위아래, 좌우 순서 */
}
section .container .home-self .right h3 {
  font-size: 2.3rem; /*글자 크기를 설정 */
  margin-bottom: 0.5rem; /*아래쪽 마진을 설정 */
}
section .container .home-self .right p {
  font-size: 1.2rem; /*글자 크기를 설정 */
  margin: 0.5rem 0; /*상하 마진을 0.5rem으로 설정 */
}
section .container .home-self .right .social {
  font-size: 2rem; /*글자 크기를 설정 */
}
section .container .home-self .right .social a {
  margin-right: 0.3rem; /*오른쪽 마진을 설정 */
}
/* home css 끝 */
/* live css 시작 */
section .do-self {
  overflow: hidden; /*내용이 그 영역을 벗어났을 때, 그 부분을 잘라내어 보이지 않게 합니다. */
}
section .do-self .do-in {
  float: left; /* 왼쪽으로 부유 */
  margin-right: 5%; /*오른쪽 마진을 부모 요소의 5% */
  width: 30%; /*너비를 부모 요소의 30% */
  height: 25rem;
  background: #fff; /*배경색을 흰색으로 설정 */
  padding: 1rem; /*내부 패딩을 설정 */
  border: 1px solid gray;
}
section .do-self .do-in:last-child {
  margin-right: 0%; /* 마지막칸 오른쪽 5% 빼줌*/
}
section .do-self .do-in h3 {
  font-size: 2rem; /*글자 크기를 설정 */
  margin-top: 0.5rem; /*상하 마진을 1rem으로 설정 */
}
/* live css 끝 */
/* map css 시작 */
main {
  width: 100%; /*너비를 부모 요소의 100%로 설정 */
  height: 100vh; /*높이를 뷰포트(viewport)의 높이와 같게 설정 */
  background-size: cover; /* 배경 이미지의 크기를 조절하여 요소의 전체 영역을 덮도록 */
  color: black; /*글자 색을 흰색으로 설정 */
   display: flex; /* Flexbox 레이아웃을 사용 */
  justify-content: center; /* 아이템들 가로 중앙 */
  align-items: center; /* 아이템들 세로 중앙 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}
.map-title {
  height: 40rem;
  border: 1px solid gray;
  margin-top: 2rem;
  z-index: -1;
}

main .title h2 {
  font-size: 3.5rem; /*글자 크기를 설정 */
}
main h4 {
  font-size: 1.5rem; /* em:폰트 키움(css에서 fontsize사용하면 부모폰트 사이즈 적용)  rem:폰트 작아짐*/
  color: #0096ce; /*글자 색을 설정 */
}
/* map css 끝 */
/* news css 시작 */
section .news-me {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  flex-wrap: wrap; /* 항목이 넘칠 경우 다음 줄로 감 */
  gap: 2rem; /* 항목 간의 간격을 설정 */
  padding: 2rem 0; /* 위아래 패딩을 설정 */
}

section .news-me .port-in {
  border: 1px solid #ccc;
  width: 45%; /* 너비를 45%로 설정 */
  height: 30rem;
  background: #fff;
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 3rem;
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}

section .news-me .port-in p {
  text-align: center;
  color: #0096ce;
  margin: 0.5rem 0;
}

section .news-me .port-in h3 {
  text-align: center;
  font-size: 1.7rem;
}
/* news css 끝 */
/* hospital css 시작 */
#hospital {
  width: 100%; /*너비를 부모 요소의 100%로 설정 */
  height: 100vh; /*높이를 뷰포트(viewport)의 높이와 같게 설정 */
  background-size: cover; /*배경 이미지의 크기를 조절하여 요소의 전체 영역을 덮도록 */
  color: black; /*글자 색을 흰색으로 설정 */
  display: flex; /* Flexbox 레이아웃을 사용 */
  justify-content: center; /* 아이템들 가로 중앙 */
  align-items: center; /* 아이템들 세로 중앙 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}
section .container .hospital-in {
  width: 142%; /*너비를 부모 요소의 30% */
  height: 40rem;
  border: 1px solid gray;
  margin-top: 0.5rem;
  margin-left: -15rem;
}
section .container .hospital-in .title h2 {
  font-size: 3.5rem; /*글자 크기를 설정 */
}
section .container .hospital-in .title h4 {
  font-size: 1.5rem; /* em:폰트 키움(css에서 fontsize사용하면 부모폰트 사이즈 적용)  rem:폰트 작아짐*/
  color: #0096ce; /*글자 색을 설정 */
}
/* hospital css 끝 */

/* contact css 시작 */
section .contact-me{
  overflow: hidden;
}
section .contact-me .left{
  width: 30%;
  float: left;
  margin-right: 5%;
}
section .contact-me .left .card{
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
section .contact-me .left .card .icon i{
  font-size: 2rem;
  margin-right: 1.5rem;
}
section .contact-me .left .card .info-text {
  text-align: center;
  flex-grow: 1;
}
section .contact-me .right{
  border: 1px solid #ccc;
  width: 65%;
  float: right;
  padding: 1rem;
}
section .contact-me .right .form-group{
  margin-bottom: 1.5rem;
}
section .contact-me .right .form-group label{
  display: block;
  margin-bottom: 1.5rem;
}
section .contact-me .right .form-group input{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}
section .contact-me .right .form-group input:focus{
  border: 1px solid #719ece;
  box-shadow: 0px 0px 10px #719ece; /* X,Y,번짐 */
}
section .contact-me .right .form-group textarea{
  width: 100%;
  height: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  resize: none;

}
section .contact-me .right .form-group textarea:focus{
  border: 1px solid #719ece;
  box-shadow: 0px 0px 10px #719ece;
}
section .contact-me .right button{
  width: 100%;
  background-color: orange;
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 1.3rem;
}
/* contact css 끝 */




.wrap {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 300px;
  height: 150px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.wrap * {
  padding: 0;
  margin: 0;
}
.wrap .info {
  width: 300px;
  height: 130px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.wrap .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.info .title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.info .close:hover {
  cursor: pointer;
}
.info .body {
  position: relative;
  overflow: hidden;
  height: 100px;
}
.info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 70px;
}
.desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}
.info:after {
  content: "";
  position: absolute;
  margin-left: -15px;
  left: 50%;
  bottom: 8px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info .link {
  color: #5085bb;
}
